# Igonarar todos los .DS_Store
*.DS_Store
*.swp
*.tfrecord

# Ignorar ciertas carpetas de datasets
datasets/101_ObjectCategories/
datasets/coco/cocofruits/
datasets/coco/cocofruits.tfrecord
datasets/Fruits360/test/
datasets/Fruits360/test-multiple-fruits/
datasets/Fruits360/training/
datasets/Fruits360/F360-3-Custom/test/
datasets/Fruits360/F360-3-Custom/training/
trained_models/
.ipynb_checkpoints/
