# Igonarar todos los .DS_Store
*.DS_Store
*.swp
*.tfrecord

# Ignorar checpoints the jupyter notebooks
src/notebooks/.ipynb_checkpoints/

# Ignorar ciertas carpetas de datasets
src/datasets/101_ObjectCategories/
src/datasets/coco/cocofruits/
src/datasets/coco/cocofruits.tfrecord
src/datasets/Fruits360/test/
src/datasets/Fruits360/test-multiple-fruits/
src/datasets/Fruits360/training/
src/datasets/Fruits360/F360-3-Custom/test/
src/datasets/Fruits360/F360-3-Custom/training/
src/trained_models/
src/trained_models2/
src/trained_models_FINAL/
